<nav id="mdb-navbar" class="  navbar fixed-top navbar-expand-lg navbar-light bg-white shadow-2" style="">
    <a>titanic</a>
    <div class="container-fluid">
        <span id="dpl-navbar-new-right-buttons" class="navbar-nav ms-auto d-flex flex-row">
            <ul id="main-navbar" class="nav navbar-nav nav-flex-icons ml-auto ms-auto flex-row">
                <li style="margin-top:2px;min-height:1px;min-width:1px;" id="gtmDC-nav-unlogged">
                    <a *ngIf="!isConnected" routerLink="/login" class="auth-modal-toggle btn btn-primary ms-2 me-1" data-auth-modal-tab="sign-in">Connexion</a>
                    <a *ngIf="isConnected" routerLink="/logout" class="auth-modal-toggle btn btn-primary ms-2 me-1" data-auth-modal-tab="sign-in">Déconnexion</a>
                </li>
            </ul>
        </span>
    </div>
</nav>
<main id="main" class="site-main main">
    <app-search-form></app-search-form>
</main>

